.appbar-container {
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #176DEE;

    h1 {
        color: white;
    }
}


