.appbar-container {
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}

.blue-box {
    background-color: #176DEE;
}

.white-box {
    background-color: #7CADF7;
}

