/* Import variables */

@import "./src/styles.scss";


/* Description styles */

.appbar-container {
    width: auto;
    height: 8vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: solid rgba($color: $appbar-line, $alpha: 0.5) 1px;

}

